<header class="navbar">
    <div id="navigation-bar">
        <nav>
            <ul>
                <li><a routerLink="/" [ngClass]="{ 'active' : selectedTab ==='tabAccueil'}">Accueil</a></li>
                <li><a routerLink="/intervention" [ngClass]="{ 'active' : selectedTab ==='tabIntervention'}">Liste des interventions</a></li>
                <li><a routerLink="/formIntervention"[ngClass]="{ 'active' : selectedTab ==='tabForm'}">Ajouter un rapport d'intervention</a></li>
            </ul>
        </nav>
    </div>
</header>