<br> <br> <br>
<a routerLink="../intervention/{{ uneIntervention.id }}">
    <table class="intervention-table">
      <tbody>
        <tr>
          <td><h3>{{ uneIntervention.id }}</h3></td>
          <td><p>{{ uneIntervention.dateIntervention | date: "dd/MM/yyyy"}}</p></td>
          <td><p>{{ uneIntervention.nomClient }}</p></td>
          <td><p>{{ uneIntervention.adresseClient }}</p></td>
          <td><p>{{ uneIntervention.nomTechnicien }}</p></td>
          <td><p>{{ uneIntervention.descriptionIntervention }}</p></td>
          <td><p>{{ uneIntervention.tempsPasse }} h</p></td>
          <td><p>{{ uneIntervention.marqueChaudiere }}</p></td>
          <td><p>{{ uneIntervention.modeleChaudiere }}</p></td>
          <td><p>{{ uneIntervention.dateMiseEnService }}</p></td>
          <td><p>{{ uneIntervention.numeroSerie }}</p></td>
        </tr>
      </tbody>
    </table>
    <br>
  </a>