<div>
    <section>
      <h2>Saisir intervention</h2>
      <form [formGroup]="formulaire">
        <h3>Information intervention</h3>
        <mat-form-field appearance="fill">
          <mat-label>Nom du technicien</mat-label>
          <input matInput formControlName="nomTechnicien" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Date d'intervention</mat-label>
          <input matInput formControlName="dateIntervention" [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Nom du client</mat-label>
          <input matInput formControlName="nomClient" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Adresse du client</mat-label>
          <input matInput formControlName="adresseClient" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Description de l'intervention</mat-label>
          <input matInput formControlName="descriptionIntervention" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Temps passé</mat-label>
          <input matInput type="number" formControlName="tempsPasse" required>
        </mat-form-field>
  
        <h3>Information chaudiere</h3>
        <mat-form-field appearance="fill">
          <mat-label>Marque de la chaudière</mat-label>
          <input matInput formControlName="marqueChaudiere" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Modèle de la chaudière</mat-label>
          <input matInput formControlName="modeleChaudiere" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Date de mise en service</mat-label>
          <input matInput formControlName="dateMiseEnService" [matDatepicker]="picker2" required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Numéro de série</mat-label>
          <input matInput formControlName="numeroSerie" required>
        </mat-form-field>
  
        <button mat-button color="primary" type="submit" (click)="addInter()" [disabled]="formulaire.invalid">Ajouter</button>
      </form>
    </section>
    <section>
      <h2>Preview fiche</h2>
      <div *ngIf="currentInter$ | async as uneInter">
        <h3>Information intervention</h3>
        <p>{{ uneInter.nomTechnicien }}</p>
        <p>{{ uneInter.dateIntervention | date: "dd/MM/yyyy"}}</p>
        <p>{{ uneInter.nomClient }}</p>
        <p>{{ uneInter.adresseClient }}</p>
        <p>{{ uneInter.descriptionIntervention }}</p>
        <p>{{ uneInter.tempsPasse }} h</p>
        <h3>Chaudière :</h3>
        <p>{{ uneInter.marqueChaudiere }}</p>
        <p>{{ uneInter.modeleChaudiere }}</p>
        <p>{{ uneInter.dateMiseEnService | date: "dd/MM/yyyy"}}</p>
        <p>{{ uneInter.numeroSerie }}</p>
        </div>
    </section>
</div>

