div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  section {
    width: 45%;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    mat-form-field {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    button[type='submit'] {
      margin-top: 2rem;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }

  div {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 16px;

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 20px;
    }

    p {
      margin: 5px 0;
    }
  }
}